[Desktop Entry]
Name=Файлы
Name[en]=Files
Comment=Файловый менеджер ShidikusikOS (Shidik-Files)
Comment[en]=ShidikusikOS file manager
Exec=shidik-files
Type=Application
Categories=System;FileManager;
