[Desktop Entry]
Name=Shidik-Term
Comment=Терминал ShidikusikOS
Comment[en]=ShidikusikOS terminal
Exec=shidik-term
Type=Application
Categories=System;TerminalEmulator;
