[Desktop Entry]
Name=Настройки
Name[en]=Settings
Comment=Центр настроек ShidikusikOS (Shidik-Control)
Comment[en]=ShidikusikOS control center
Exec=shidik-control
Type=Application
Categories=System;Settings;
