[Desktop Entry]
Name=Установить ShidikusikOS
Name[en]=Install ShidikusikOS
Comment=Установка системы на жёсткий диск
Comment[en]=Install the system to your hard drive
Exec=shidik-install-gui
Type=Application
Categories=System;
